<div class="course-assignment-container">
  <div class="green-header-bar"></div>
  <div class="form-section">
    <div class="form-group">
      <label for="course-search">Mata Kuliah: </label>
      <app-search-matkul
        (selectionConfirmed)="handleCourseAndYearSelected($event)"
        (selectionClosed)="updatePlaceholderVisibility()"
        id="course-search"
      ></app-search-matkul>
    </div>

    <div class="form-group">
      <label for="coordinator">Koordinator Mata Kuliah:</label>
      <button
        class="input-like-button"
        (click)="openLecturerModal('coordinator')"
        id="coordinator"
        [disabled]="!currentSelectedCourse"
      >
        <span *ngIf="coordinatorName; else pilihKoordinatorTextCoordinator">{{
          coordinatorName
        }}</span>
        <ng-template #pilihKoordinatorTextCoordinator>
          <span class="placeholder-text">Pilih Dosen</span>
          <i class="fa fa-plus icon-hover"></i>
        </ng-template>
      </button>
    </div>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>No</th>
          <th>Kelas</th>
          <th>Dosen</th>
          <th>Praktikum</th>
          <th>Kuota</th>
          <th>Kredit</th>
          <th>PIC</th>
          <th>Semester</th>
          <th>Online/Onsite</th>
        </tr>
      </thead>
      <tbody *ngIf="currentSelectedCourse && tableData.length > 0">
        <tr *ngFor="let row of tableData; let i = index">
          <td>{{ row.no }}</td>
          <td>{{ row.kelas }}</td>
          <td>
            <button
              class="input-like-button has-hover-icon"
              (click)="openLecturerModal('dosen', i)"
            >
              <ng-container *ngIf="row.dosen; else pilihDosenWithHover">
                {{ row.dosen }}
              </ng-container>
              <ng-template #pilihDosenWithHover>
                <span class="placeholder-text">Pilih Dosen</span>
                <i class="fa fa-plus icon-hover"></i>
              </ng-template>
            </button>
          </td>
          <td [class.praktikum-yes]="row.praktikum === 'YES'">
            {{ row.praktikum }}
          </td>
          <td>{{ row.kuota }}</td>
          <td>{{ row.kredit }}</td>
          <td>{{ row.pic }}</td>
          <td>{{ row.semester }}</td>
          <td>{{ row.onlineOnsite }}</td>
        </tr>
      </tbody>
      <tbody *ngIf="showPlaceholderContent">
        <tr>
          <td [attr.colspan]="9" class="placeholder-cell">
            <div class="placeholder-content-area">
              <img
                [src]="noCourseSelectedImageUrl"
                alt="Pilih mata kuliah untuk melihat data"
                class="placeholder-image"
              />
              <p *ngIf="!currentSelectedCourse" class="placeholder-message">
                Silakan pilih Mata Kuliah & Tahun Ajaran untuk menampilkan
                detail plotting.
              </p>
              <p
                *ngIf="currentSelectedCourse && tableData.length === 0"
                class="placeholder-message"
              >
                Belum ada data plotting untuk mata kuliah yang dipilih.
              </p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="footer">
    <button class="btn btn-back" (click)="onBack()">Back</button>
    <button
      class="btn btn-submit"
      (click)="onSubmit()"
      [disabled]="
        !currentSelectedCourse || !coordinatorName || tableData.length === 0
      "
    >
      Submit
    </button>
  </div>
</div>

<app-search-modal
  *ngIf="showLecturerSearchModal"
  (lecturerSelected)="handleLecturerSelected($event)"
  (closeModal)="closeLecturerModal()"
>
</app-search-modal>
