<div class="lecturer-table-container container my-4">
  <div class="mb-3">
    <app-search-header
      (itemsPerPageChange)="onItemsPerPageChange($event)"
      (search)="onSearch($event)"
      title="List Dosen"
      [itemsPerPage]="itemsPerPage"
      [pageSizeOptions]="[9, 15, 25, 50]"
    >
    </app-search-header>
  </div>

  <div class="divider border-bottom mb-3"></div>

  @if (isLoading && !hasLoadedData) {
  <app-loading-spinner></app-loading-spinner>
  } @else if (isSearchEmpty && hasLoadedData && !isLoading) {
  <app-search-not-found
    [keyword]="currentCombinedSearchKeyword"
    altText="Data dosen tidak ditemukan"
  ></app-search-not-found>
  } @else if (!isLoading) {
  <app-table
    [columns]="tableColumns"
    [data]="paginatedLecturers"
    [showIndex]="true"
    [currentPage]="currentPage"
    [itemsPerPage]="itemsPerPage"
    [actionButtons]="actionButtons"
    [isLoading]="isLoading"
    (rowClick)="onRowClick($event)"
  >
  </app-table>

  <app-pagination
    [currentPage]="currentPage"
    [itemsPerPage]="itemsPerPage"
    [totalItems]="totalItems"
    [searchKeyword]="currentCombinedSearchKeyword"
    (pageChange)="onPageChange($event)"
  >
  </app-pagination>
  } @else if (isLoading && hasLoadedData) {
  <app-loading-spinner></app-loading-spinner>
  }
</div>
