<div class="page-container">
  <div class="add-matkul-container">
    <div class="header-section">
      <h2>Detail Mata Kuliah</h2>
      <p>Informasi detail dari mata kuliah</p>
    </div>

    <div *ngIf="isLoading" class="loading-overlay">
      <app-loading-spinner></app-loading-spinner>
    </div>

    <form [formGroup]="detailMatkulForm" *ngIf="!isLoading">
      <div class="form-grid">
        <app-form-input
          label="Nama Mata Kuliah"
          formControlName="namaMatkul"
          [readonly]="true"
        ></app-form-input>

        <app-form-input
          label="Kode Mata Kuliah"
          formControlName="kodeMatkul"
          [readonly]="true"
        ></app-form-input>

        <div class="full-width-field">
          <app-form-input
            label="SKS / Credit"
            formControlName="sks"
            [readonly]="true"
          ></app-form-input>
        </div>

        <div class="full-width-field">
          <app-form-input
            label="PIC"
            formControlName="pic"
            [readonly]="true"
          ></app-form-input>
        </div>

        <div class="full-width-field">
          <app-form-input
            label="Status Wajib"
            formControlName="statusMatkul"
            [readonly]="true"
          ></app-form-input>
        </div>

        <div class="full-width-field">
          <app-form-input
            label="Tingkat Matakuliah"
            formControlName="tingkatMatakuliah"
            [readonly]="true"
          ></app-form-input>
        </div>

        <div class="full-width-field">
          <app-form-input
            label="Metode Perkuliahan"
            formControlName="metodePerkuliahan"
            [readonly]="true"
          ></app-form-input>
        </div>

        <div class="full-width-field">
          <app-form-input
            label="Matakuliah Eksepsi"
            formControlName="matakuliahEksepsi"
            [readonly]="true"
          ></app-form-input>
        </div>

        <div class="full-width-field">
          <app-form-input
            label="Praktikum"
            formControlName="praktikum"
            [readonly]="true"
          ></app-form-input>
        </div>
      </div>

      <div class="footer-actions">
        <app-action-button
          text="Back"
          backgroundColorVar="var(--red)"
          [fontSizePx]="16"
          [paddingScaleFactor]="0.6"
          type="button"
          (click)="goBack()"
        ></app-action-button>
      </div>
    </form>
  </div>
</div>
