<div class="assign-role-container">
  <div class="assign-role-header">
    <app-search-header
      (itemsPerPageChange)="onItemsPerPageChange($event)"
      (search)="onSearch($event)"
    >
    </app-search-header>
  </div>

  <div class="divider"></div>

  @if (isLoading) {
  <app-loading-spinner></app-loading-spinner>
  } @else { @if (filteredUsers.length === 0) {
  <app-search-not-found
    [keyword]="currentSearchKeyword"
    altText="Data tidak ditemukan"
  >
  </app-search-not-found>
  } @else {
  <div class="user-grid">
    @for (user of paginatedUsers; track user.id) {
    <app-user-card
      [user]="user"
      [isSelected]="user.id === selectedUserId"
      (addRole)="onAddRole(user, $event)"
    >
    </app-user-card>
    }
  </div>

  <app-pagination
    [currentPage]="currentPage"
    [itemsPerPage]="itemsPerPage"
    [totalItems]="filteredUsers.length"
    (pageChange)="onPageChange($event)"
  >
  </app-pagination>
  } }

  <app-add-role-modal
    [show]="showAddRoleModal"
    [availableRoles]="availableRoles"
    [position]="modalPosition"
    (close)="closeModal()"
    (selectRole)="onSelectRole($event)"
  >
  </app-add-role-modal>
</div>
