<div class="lecturer-search-overlay">
  <div class="lecturer-search-modal">
    <div class="header">
      <h1 class="title">
        {{ isTeamTeaching ? "Pilih Tim Dosen" : "Cari Dosen" }}
      </h1>
      <button class="close-button" (click)="requestClose()">
        <i class="fas fa-times"></i>
      </button>
    </div>

    <div class="search-bar">
      <input
        type="text"
        [(ngModel)]="searchNameTerm"
        (ngModelChange)="onSearchTermChange()"
        placeholder="Nama Dosen"
        class="search-input-field lecturer-name-input"
        [disabled]="isLoading"
      />
      <span class="search-separator">/</span>
      <input
        type="text"
        [(ngModel)]="searchCodeTerm"
        (ngModelChange)="onSearchTermChange()"
        placeholder="Kode Dosen"
        class="search-input-field lecturer-code-input"
        [disabled]="isLoading"
      />
      <button
        (click)="onSearchTermChange()"
        class="search-button-new"
        [disabled]="isLoading"
      >
        <i class="fas fa-search"></i>
      </button>
    </div>

    <div *ngIf="!hasSearched" class="initial-state-modal">
      <img
        src="assets/images/search_dosen.svg"
        alt="Lecturer Search Placeholder"
      />
    </div>

    <div *ngIf="hasSearched" class="results-state">
      <div *ngIf="isLoading" class="loading-state">
        <app-loading-spinner></app-loading-spinner>
      </div>

      <div *ngIf="error" class="error-state">
        <p>{{ error }}</p>
      </div>

      <div *ngIf="!isLoading && !error">
        <div *ngIf="searchResults.length > 0; else noResults">
          <div *ngIf="!isTeamTeaching" class="results-list">
            <div
              *ngFor="let lecturer of searchResults"
              class="result-item"
              (click)="selectAndClose(lecturer)"
            >
              <span class="lecturer-name">{{ lecturer.name }}</span>
              <span class="lecturer-code">{{ lecturer.lecturerCode }}</span>
              <button
                class="add-button-modal"
                (click)="$event.stopPropagation(); selectAndClose(lecturer)"
              >
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
          <div *ngIf="isTeamTeaching" class="results-list-team">
            <div
              *ngFor="let lecturer of searchResults"
              class="result-item-team"
            >
              <input
                type="checkbox"
                class="lecturer-checkbox"
                [id]="'lecturer-' + lecturer.id"
                [checked]="selectedLecturers.has(lecturer.id)"
                (change)="toggleLecturerSelection(lecturer, $event)"
              />
              <label [for]="'lecturer-' + lecturer.id" class="lecturer-info">
                <span class="lecturer-name">{{ lecturer.name }}</span>
                <span class="lecturer-code">{{ lecturer.lecturerCode }}</span>
              </label>
              <div
                class="sks-selector-wrapper"
                *ngIf="selectedLecturers.has(lecturer.id)"
                (click)="$event.stopPropagation()"
              >
                <app-form-input
                  type="select"
                  [id]="'sks-select-' + lecturer.id"
                  [options]="sksOptions"
                  (inputChange)="updateSks(lecturer.id, $event)"
                ></app-form-input>
              </div>
            </div>
          </div>
        </div>

        <ng-template #noResults>
          <app-search-not-found
            [keyword]="searchKeyword"
          ></app-search-not-found>
        </ng-template>

        <app-pagination
          *ngIf="searchResults.length > 0"
          [currentPage]="currentPage"
          [itemsPerPage]="itemsPerPage"
          [totalItems]="totalItems"
          [searchKeyword]="searchKeyword"
          [maxVisiblePages]="5"
          (pageChange)="onPageChange($event)"
        ></app-pagination>
      </div>
    </div>

    <div
      *ngIf="isTeamTeaching && !isLoading && hasSearched"
      class="modal-footer-team"
    >
      <button class="submit-team-button" (click)="handleSubmitTeamTeaching()">
        Assign Selected Lecturers
      </button>
    </div>
  </div>
</div>
