<div class="manage-role-container">
  <div class="full-width-header">
    <div class="manage-role-header">
      <app-search-header
        (itemsPerPageChange)="onItemsPerPageChange($event)"
        [title]="'Role List'"
        (search)="onSearch($event)"
      ></app-search-header>
    </div>
    <div class="horizontal-divider"></div>
  </div>

  <div class="content-area">
    <div class="sidebar-container">
      <div class="role-list-sidebar">
        <div class="role-filter-list">
          <div
            class="role-filter-item"
            [class.active]="activeRoleFilter === null"
            (click)="filterByRole(null)"
          >
            <span>Semua Role</span>
          </div>
          @for(role of availableRoles; track role) {
          <div
            class="role-filter-item"
            [class.active]="activeRoleFilter === role"
            (click)="filterByRole(role)"
          >
            <span>{{ role }}</span>
          </div>
          }
        </div>
      </div>
      <div class="vertical-divider"></div>
    </div>

    <div class="main-content">
      @if (isLoading) {
      <app-loading-spinner></app-loading-spinner>
      } @else { @if (filteredUsers.length === 0) {
      <app-search-not-found
        [keyword]="currentSearchKeyword"
        altText="Data tidak ditemukan"
      ></app-search-not-found>
      } @else {
      <div class="user-grid">
        @for (user of paginatedUsers; track user.id) {
        <app-user-card
          [user]="user"
          (removeRole)="onRemoveRole(user, $event)"
        ></app-user-card>
        }
      </div>
      <app-pagination
        [currentPage]="currentPage"
        [itemsPerPage]="itemsPerPage"
        [totalItems]="filteredUsers.length"
        (pageChange)="onPageChange($event)"
      ></app-pagination>
      }
      }
    </div>
  </div>
</div>
