<app-base-card
  [title]="user.name"
  [subtitle]="user.lecturerCode"
  [contentTemplate]="contentTemplate"
  [footerActionsTemplate]="footerTemplate"
>
  <ng-template #contentTemplate>
    <div class="user-id">{{ user.id }}</div>
  </ng-template>

  <ng-template #footerTemplate>
    <div class="card-actions">
      <ng-container *ngIf="user.jabatanFunctionalAkademik.length > 0">
        <app-role-tag
          *ngFor="let role of user.jabatanFunctionalAkademik"
          [roleName]="role"
          (remove)="onRemoveRole(role)"
        >
        </app-role-tag>
      </ng-container>
      <button class="add-btn" (click)="onAddRole($event)" title="Add Role">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </ng-template>
</app-base-card>
