<app-base-card
  [title]="user.name"
  [contentTemplate]="contentTemplate"
  [footerActionsTemplate]="footerTemplate"
  [isSelected]="isSelected"
>
  <ng-template #contentTemplate>
    <div class="user-id">{{ displayId }}</div>
  </ng-template>
  <ng-template #footerTemplate>
    <div class="card-actions">
      <app-role-tag
        *ngIf="user.role"
        [role]="user.role"
        [roleService]="roleService"
      ></app-role-tag>
      <button
        *ngIf="showAddButton && !user.role"
        class="add-btn"
        (click)="onAddRole($event)"
        title="Add Role"
      >
        <i class="fa fa-plus"></i>
      </button>
      <button
        *ngIf="showRemoveButton && user.role"
        class="remove-btn"
        (click)="onRemoveRole()"
        title="Remove Role"
      >
        <i class="fa fa-times"></i>
      </button>
    </div>
  </ng-template>
</app-base-card>
