:host {
  display: block;
}

.course-card {
  background-color: var(--primary-white, white);
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.card-main-title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.course-name {
  font-weight: var(--font-medium, 500);
  color: var(--black, #212529);
  font-size: var(--text-base, 1rem);
  margin-bottom: 0;
  flex-grow: 1;
  margin-right: 0.5rem;
}

.card-header-icons {
  display: flex;
  gap: 0.3rem;
  flex-shrink: 0;

  button {
    background: none;
    border: none;
    color: var(--text-muted, #6c757d);
    cursor: pointer;
    padding: 0.25rem;
    font-size: 0.8rem;

    &:hover {
      color: var(--primary-color, #007bff);
    }
  }
}

.course-secondary-details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.course-code,
.course-pic {
  font-weight: var(--font-light, 300);
  color: var(--text-muted, #6c757d);
  font-size: var(--text-sm, 0.875rem);
  margin: 0;
}

.card-actions {
  margin-top: auto;
  padding-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.25rem;
    width: 2rem; 
    height: 2rem;
    font-size: var(--text-lg);
    cursor: pointer;
    border: none;
    background-color: transparent;
  }

  .edit-btn {

    i {
      color: var(--blue);
    }

    &:hover {
      background-color: rgba(var(--rgb-blue, 0, 0, 255), 0.1);
    }
  }

  .delete-btn {

    i {
      color: var(--red);
    }

    &:hover {
      background-color: rgba(var(--rgb-red, 255, 0, 0), 0.1);
    }
  }
}