<div class="course-card">
  <div class="card-main-title-header">
    <div class="course-name">{{ course.name }}</div>
    <div class="card-header-icons">
      <button (click)="onSettingsClick()" title="Detail Mata Kuliah">
        <i class="fas fa-maximize"></i>
      </button>
    </div>
  </div>

  <div class="course-secondary-details">
    <div class="course-code">{{ course.code }}</div>
    <div class="course-pic">{{ course.pic }}</div>
  </div>

  <div class="card-actions">
    <button class="edit-btn" (click)="onEditClick()" title="Edit Course">
      <i class="fa-solid fa-pen-to-square"></i>
    </button>
    <button class="delete-btn" (click)="onDeleteClick()" title="Delete Course">
      <i class="fa-solid fa-trash"></i>
    </button>
  </div>
</div>
