<div class="sidenav" 
    [class.sidenav-collapsed]="collapsed" 
    [class.sidenav-hover-expanded]="hovering"
    (mouseenter)="onMouseEnter()" 
    (mouseleave)="onMouseLeave()">

    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let item of menuItems || []">
            <a *ngIf="!item.children?.length" 
            class="sidenav-nav-link" 
            [routerLink]="item.routerLink" 
            routerLinkActive="active">
                <i class="fa fa-{{item.icon}} sidenav-link-icon"></i>
                <span class="sidenav-link-text" 
                      *ngIf="collapsed && hovering || !collapsed">
                    {{ item.label }}
                </span>
            </a>
            
            <div *ngIf="item.children?.length" class="submenu-container">
                <div class="sidenav-nav-link submenu-trigger" 
                    (click)="toggleSubmenu(item.label)">
                    <i class="fa fa-{{item.icon}} sidenav-link-icon"></i>
                    <span class="sidenav-link-text" 
                          *ngIf="collapsed && hovering || !collapsed">
                        {{ item.label }}
                    </span>
                    <i *ngIf="collapsed && hovering || !collapsed" 
                    class="fa fa-chevron-right submenu-arrow"
                    [class.rotated]="isSubmenuExpanded(item.label)"></i>
                </div>
                
                <ul class="submenu" 
                    [class.expanded]="(collapsed && hovering || !collapsed) && isSubmenuExpanded(item.label)">
                    <li class="submenu-item" 
                        *ngFor="let child of item.children"
                        [class.visible]="(collapsed && hovering || !collapsed) && isSubmenuExpanded(item.label)">
                        <a class="submenu-link" 
                        [routerLink]="child.routerLink" 
                        routerLinkActive="active">
                            <i class="fa fa-{{child.icon}} submenu-icon"></i>
                            <span class="submenu-text">{{ child.label }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>