.error-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-white);

    img {
        max-width: 800px;
        width: 100%;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: var(--text-3xl);
        font-weight: var(--font-bold);
        color: var(--secondary-blue);
        margin: 0;
    }

    p {
        font-size: var(--text-lg);
        color: var(--secondary-blue);
        margin-top: 0.75rem;
        margin-bottom: 2rem;
        max-width: 450px;
    }
}