<div class="pagination">
  <div class="pagination-info">
    Showing page {{ currentPage }} of {{ totalPages }}
  </div>
  <div class="pagination-controls">
    <button
      class="pagination-btn"
      [disabled]="currentPage === 1"
      (click)="goToPage(currentPage - 1)"
    >
      <i class="fa fa-chevron-left"></i>
    </button>
    <button class="pagination-btn active">{{ currentPage }}</button>
    <button
      class="pagination-btn"
      [disabled]="currentPage === totalPages"
      (click)="goToPage(currentPage + 1)"
    >
      <i class="fa fa-chevron-right"></i>
    </button>
  </div>
</div>
