<div class="dynamic-table-container" [style.maxHeight]="parentMaxHeight">
  <div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner"></div>
    Loading...
  </div>

  <table [style.minWidth]="tableMinimuWidth || 'auto'">
    <thead>
      <tr>
        <ng-container
          *ngFor="
            let colConfig of sortedStickyColumns;
            trackBy: trackByColumnKey
          "
        >
          <th
            [ngStyle]="getStickyStylesForColumn(colConfig.key)"
            [class.sticky-header]="true"
            [class.last-sticky-header]="isLastSticky(colConfig.key)"
            [class]="colConfig.customClass"
            [class]="colConfig.headerCustomClass"
            [style.width]="colConfig.width"
            [style.minWidth]="colConfig.minWidth"
            [style.maxWidth]="colConfig.maxWidth"
            [title]="colConfig.label"
          >
            {{ colConfig.label }}
          </th>
        </ng-container>
        <ng-container
          *ngFor="let colConfig of nonStickyColumns; trackBy: trackByColumnKey"
        >
          <th
            [class]="colConfig.customClass"
            [class]="colConfig.headerCustomClass"
            [style.width]="colConfig.width"
            [style.minWidth]="colConfig.minWidth"
            [style.maxWidth]="colConfig.maxWidth"
            [title]="colConfig.label"
          >
            {{ colConfig.label }}
          </th>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <ng-container
        *ngIf="!isLoading && data && data.length > 0; else noDataTemplate"
      >
        <tr *ngFor="let item of data; trackBy: trackByRow">
          <ng-container
            *ngFor="
              let colConfig of sortedStickyColumns;
              trackBy: trackByColumnKey
            "
          >
            <td
              [ngStyle]="getStickyStylesForColumn(colConfig.key)"
              [class.sticky-cell]="true"
              [class.last-sticky-cell]="isLastSticky(colConfig.key)"
              [class]="colConfig.customClass"
              [class]="colConfig.cellCustomClass"
              [title]="getCellTitle(item, colConfig)"
            >
              {{ getCellValue(item, colConfig) }}
            </td>
          </ng-container>
          <ng-container
            *ngFor="
              let colConfig of nonStickyColumns;
              trackBy: trackByColumnKey
            "
          >
            <td
              [class]="colConfig.customClass"
              [class]="colConfig.cellCustomClass"
              [title]="getCellTitle(item, colConfig)"
            >
              {{ getCellValue(item, colConfig) }}
            </td>
          </ng-container>
        </tr>
      </ng-container>
    </tbody>
  </table>

  <ng-template #noDataTemplate>
    <div *ngIf="!isLoading" class="no-data-container">
      <table>
        <tbody>
          <tr>
            <td [attr.colspan]="columnConfigs.length" class="no-data-message">
              {{ noDataMessage }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
</div>
