.role-tag {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  background-color: var(--grey);
  font-size: var(--text-xxs);
  
  i {
    font-size: 0.5rem;
    transition: all 0.2s ease;
  }
}