<div class="app-container" [class.sidenav-open]="!collapsed && isMobile">
  <div
    class="mobile-overlay"
    *ngIf="!collapsed && isMobile"
    (click)="toggleSidenav()"
  ></div>

  <app-navbar
    [collapsed]="collapsed"
    [hovering]="hovering"
    (toggleSidenav)="toggleSidenav()"
  ></app-navbar>

  <div class="content-container">
    <app-sidenav
      [menuItems]="menuItems$ | async"
      [collapsed]="collapsed"
      (onToggleSideNav)="handleSideNavToggle($event)"
      (onHover)="handleSidenavHover($event)"
    >
    </app-sidenav>

    <div
      class="main-content-wrapper"
      [ngClass]="{
        'wrapper-expanded': !collapsed,
        'wrapper-collapsed': collapsed && !hovering,
        'wrapper-hover-expanded': collapsed && hovering
      }"
    >
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
