<div class="page-container">
  <div class="add-matkul-container">
    <div class="header-section">
      <h2>{{ pageTitle }}</h2>
      <p>{{ pageSubtitle }}</p>
    </div>

    <div *ngIf="isLoading" class="loading-overlay">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form
      [formGroup]="addMatkulForm"
      (ngSubmit)="onSubmit()"
      *ngIf="!isLoading"
    >
      <div class="form-grid">
        <app-form-input
          label="Nama Mata Kuliah"
          placeholder="Contoh: PEMROGRAMAN WEB"
          formControlName="namaMatkul"
          [control]="getControl('namaMatkul')"
          [required]="true"
        ></app-form-input>
        <app-form-input
          label="Kode Mata Kuliah"
          placeholder="Contoh: CRI313"
          formControlName="kodeMatkul"
          [control]="getControl('kodeMatkul')"
          [required]="true"
        ></app-form-input>
        <div class="full-width-field">
          <app-form-input
            label="SKS / Credit"
            type="select"
            placeholder="Pilih Jumlah SKS"
            formControlName="sks"
            [control]="getControl('sks')"
            [options]="sksOptions"
            [required]="true"
          ></app-form-input>
        </div>
        <div class="full-width-field">
          <app-form-input
            label="PIC"
            type="select"
            placeholder="Pilih PIC"
            formControlName="pic"
            [control]="getControl('pic')"
            [options]="picOptions"
            [required]="true"
          ></app-form-input>
        </div>
        <div class="full-width-field">
          <app-form-input
            label="Status Wajib"
            type="select"
            placeholder="Pilih Status Wajib"
            formControlName="mandatoryStatus"
            [control]="getControl('mandatoryStatus')"
            [options]="mandatoryStatusOptions"
            [required]="true"
          ></app-form-input>
        </div>
        <div class="full-width-field">
          <app-form-input
            label="Tingkat Matakuliah"
            type="select"
            placeholder="Pilih Tingkat Matakuliah"
            formControlName="tingkatMatakuliah"
            [control]="getControl('tingkatMatakuliah')"
            [options]="tingkatMatakuliahOptions"
            [required]="true"
          ></app-form-input>
        </div>
        <div class="full-width-field">
          <app-form-input
            label="Metode Perkuliahan"
            type="select"
            placeholder="Pilih Metode Perkuliahan"
            formControlName="metodePerkuliahan"
            [control]="getControl('metodePerkuliahan')"
            [options]="metodePerkuliahanOptions"
            [required]="true"
          ></app-form-input>
        </div>
        <div class="full-width-field">
          <app-form-input
            label="Matakuliah Eksepsi"
            type="select"
            placeholder="Pilih Opsi Eksepsi"
            formControlName="matakuliahEksepsi"
            [control]="getControl('matakuliahEksepsi')"
            [options]="matakuliahEksepsiOptions"
            [required]="true"
          ></app-form-input>
        </div>
        <div class="form-field full-width-field">
          <label>Praktikum <span class="required">*</span></label>
          <div class="radio-group">
            <label class="radio-label">
              <input type="radio" value="true" formControlName="praktikum" /> Ya
            </label>
            <label class="radio-label">
              <input type="radio" value="false" formControlName="praktikum" />
              Tidak
            </label>
          </div>
          <div
            *ngIf="
              getControl('praktikum')?.invalid &&
              (getControl('praktikum')?.dirty ||
                getControl('praktikum')?.touched)
            "
            class="error-message"
          >
            Pilihan Praktikum wajib diisi.
          </div>
        </div>
      </div>
      <div class="submit-button-container" style="gap: 1rem">
        <app-action-button
          *ngIf="isEditMode"
          text="Back"
          backgroundColorVar="var(--red)"
          type="button"
          (click)="goBack()"
        ></app-action-button>
        <app-action-button
          [text]="isLoading ? 'Submitting...' : submitButtonText"
          backgroundColorVar="var(--primary-blue)"
          type="submit"
          [disabled]="addMatkulForm.invalid || isLoading"
        ></app-action-button>
      </div>
    </form>
  </div>
</div>
