<nav
  class="navbar"
  [ngClass]="{
    'navbar-collapsed': collapsed && !hovering,
    'navbar-expanded': !collapsed,
    'navbar-hover-expanded': collapsed && hovering
  }"
>
  <div class="navbar-container">
    <div class="navbar-left">
      <button class="toggle-btn" (click)="onToggleSidenav()" title="Collapse">
        <i
          class="fa"
          [class.fa-bars]="collapsed"
          [class.fa-chevron-left]="!collapsed"
        ></i>
      </button>
      <div class="breadcrumb">
        <span class="breadcrumb-full"
          >Sistem Plottingan Pengajaran | {{ activeTahunAjaranString }}</span
        >
        <span class="breadcrumb-short">SIPLONGJAR</span>
      </div>
    </div>
    <div class="navbar-right">
      <div class="user-profile" *ngIf="currentUser" (click)="toggleDropdown()">
        <div class="avatar" [title]="userDisplayName">
          <span class="initials">{{ userInitials }}</span>
        </div>
        <div class="user-info">
          <span class="user-name">{{ userDisplayName }}</span>
        </div>
        <div class="user-dropdown">
          <div class="dropdown-menu" [class.show]="isDropdownOpen">
            <button class="dropdown-item" (click)="logout($event)">
              <i class="fa fa-sign-out-alt"></i>
              <span>Logout</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
