.body {
    width: calc(100% - 5rem);
    height: calc(100vh - 60px);
    margin-left: 5rem;
    margin-top: 60px;
    z-index: 0;
    position: relative;
    transition: all 0.3s ease;
    background: var(--primary-white);
    padding: 2rem;
  }
  
  .body-trimmed {
    width: calc(100% - 16.2rem);
    margin-left: 16.2rem;
  }
  
  .body-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
  }