<div class="lecturer-table-container container my-4">
  <div class="mb-3">
    <app-search-header
      (itemsPerPageChange)="onItemsPerPageChange($event)"
      (search)="onSearch($event)"
      title="List Dosen"
    >
    </app-search-header>
  </div>

  <div class="divider border-bottom mb-3"></div>

  @if (isLoading) {
  <app-loading-spinner></app-loading-spinner>
  } @else { @if (filteredLecturers.length === 0) {
  <app-search-not-found
    [keyword]="currentSearchKeyword"
    altText="Data dosen tidak ditemukan"
  ></app-search-not-found>
  } @else {
  <app-table
    [columns]="tableColumns"
    [data]="paginatedLecturers"
    [showIndex]="true"
    [currentPage]="currentPage"
    [itemsPerPage]="itemsPerPage"
    [actionButtons]="actionButtons"
    (rowClick)="onRowClick($event)"
  >
  </app-table>

  <app-pagination
    [currentPage]="currentPage"
    [itemsPerPage]="itemsPerPage"
    [totalItems]="filteredLecturers.length"
    (pageChange)="onPageChange($event)"
  >
  </app-pagination>
  } }
</div>
