<div class="modal-wrapper" *ngIf="show">
  <div
    class="modal-container"
    [style.top.px]="position.top"
    [style.left.px]="position.left"
    [style.transform]="
      'translate(' + dragOffset.x + 'px, ' + dragOffset.y + 'px)'
    "
  >
    <div class="modal-header">
      <div class="drag-handle" (mousedown)="onDragStart($event)">
        <i class="fas fa-ellipsis-h"></i>
      </div>
      <button class="close-btn" (click)="onClose()">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="search-input">
      <input type="text" placeholder="Search Role" />
      <button class="search-btn">
        <i class="fas fa-search"></i>
      </button>
    </div>
    <div class="roles-list">
      <div
        *ngFor="let role of availableRoles"
        class="role-item"
        (click)="onSelectRole(role)"
      >
        <div class="role-color" [ngClass]="roleColors[role]"></div>
        <div class="role-name">{{ role }}</div>
      </div>
    </div>
  </div>
</div>
