<div class="course-page">
  <div class="filters-container">
    <div class="filter-group">
      <label for="program-studi">Program Studi:</label>
      <select
        id="program-studi"
        class="filter-select"
        [(ngModel)]="selectedProgramStudiId"
        (ngModelChange)="onFilterChange()"
      >
        <option
          *ngFor="let option of programStudiOptions"
          [value]="option.value"
        >
          {{ option.label }}
        </option>
      </select>
    </div>

    <div class="filter-group">
      <label for="tahun-ajaran">Tahun Ajaran:</label>
      <select
        id="tahun-ajaran"
        class="filter-select"
        [(ngModel)]="selectedTahunAjaranId"
        (ngModelChange)="onFilterChange()"
      >
        <option
          *ngFor="let option of tahunAjaranOptions"
          [value]="option.value"
        >
          {{ option.label }}
        </option>
      </select>
    </div>
  </div>

  <ng-container *ngIf="!isLoading; else loadingState">
    <div *ngIf="courses.length > 0; else emptyState" class="courses-grid">
      <app-plotting-result-card
        *ngFor="let course of courses; trackBy: trackByCourseId"
        [course]="course"
      >
      </app-plotting-result-card>
    </div>
  </ng-container>

  <ng-template #loadingState>
    <div class="state-container">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </ng-template>

  <ng-template #emptyState>
    <div class="state-container">
      <div class="empty-state-content">
        <i class="fas fa-book-open empty-icon"></i>
        <h3>Tidak Ada Mata Kuliah</h3>
        <p>Tidak ada mata kuliah yang cocok dengan filter yang dipilih.</p>
      </div>
    </div>
  </ng-template>
</div>