/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
    position: relative;
}

:root {

    --primary-white: #FFFFFF;
    --primary-blue: #1F2937;

    --secondary-blue: #374151;
    --secondary-white: #f1f5f9;

    --black: #000000;
    --green: #5FDF1F;
    --red: #DF1F22;
    --blue: #4680FE;
    --grey: #D9D9D9;
    --purple: #C324A8;
    --yellow: #C3B824;

    --grey-alternative: #37415196;

    --text-xxs: 0.688rem;  /* 11px */
    --text-xs: 0.75rem;   /* 12px */
    --text-sm: 0.875rem;  /* 14px */
    --text-base: 1rem;    /* 16px */
    --text-lg: 1.125rem;  /* 18px */
    --text-xl: 1.25rem;   /* 20px */
    --text-2xl: 1.5rem;   /* 24px */
    --text-3xl: 1.875rem; /* 30px */
    --text-4xl: 2.25rem;  /* 36px */
    --text-5xl: 3rem;     /* 48px */

    --font-thin: 100;
    --font-extralight: 200;
    --font-light: 300;
    --font-normal: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 700;
    --font-extrabold: 800;
    --font-black: 900;
}