<div class="top-controls-wrapper">
  <div class="left-controls" *ngIf="!isSpecialRole">
    <div class="filter-dropdown-wrapper">
      <label for="prodi">Program Studi:</label>
      <div class="custom-select-wrapper">
        <select
          id="prodi"
          class="filter-dropdown"
          [(ngModel)]="selectedProdiId"
          (change)="onFilterChange()"
          [disabled]="isLoading"
        >
          <option
            *ngFor="let prodi of programStudiOptions"
            [ngValue]="prodi.id"
          >
            {{ prodi.nama }}
          </option>
        </select>
        <i class="fa fa-chevron-down dropdown-icon"></i>
      </div>
    </div>

    <div class="filter-dropdown-wrapper">
      <label for="tahunAjaran">Tahun Ajaran:</label>
      <div class="custom-select-wrapper">
        <select
          id="tahunAjaran"
          class="filter-dropdown"
          [(ngModel)]="selectedTahunAjaranId"
          (change)="onFilterChange()"
          [disabled]="isLoading"
        >
          <option *ngFor="let tahun of tahunAjaranOptions" [ngValue]="tahun.id">
            {{ tahun.tahun_ajaran }} ({{ tahun.semester }})
          </option>
        </select>
        <i class="fa fa-chevron-down dropdown-icon"></i>
      </div>
    </div>
  </div>

  <div class="right-controls">
    <div class="pagination-controls-top">
      <div class="custom-select-wrapper">
        <select
          [(ngModel)]="pageSize"
          (change)="onPageSizeChange()"
          class="custom-select"
          [disabled]="isLoading"
        >
          <option *ngFor="let option of pageSizeOptions" [ngValue]="option">
            {{ option }}
          </option>
        </select>
        <div class="selected-label">
          Menampilkan {{ pageSize }} Data
          <i class="fa fa-chevron-down dropdown-icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="table-container">
  <app-dynamic-table
    [data]="paginatedData"
    [isLoading]="isLoading"
    [columnConfigs]="mataKuliahColumnConfigs"
    [tableMinimuWidth]="tableMinimuWidth"
    [parentMaxHeight]="'70vh'"
    [noDataMessage]="
      'Tidak ada data hasil plotting yang tersedia untuk filter yang dipilih.'
    "
  >
  </app-dynamic-table>
</div>

<div class="bottom-controls-wrapper">
  <app-pagination
    [currentPage]="currentPage"
    [itemsPerPage]="pageSize"
    [totalItems]="totalItems"
    (pageChange)="onPageChange($event)"
  ></app-pagination>

  <div class="action-buttons-container">
    <app-action-button
      text="Back"
      backgroundColorVar="var(--red)"
      [fontSizePx]="16"
      [paddingScaleFactor]="0.6"
      (buttonClick)="onBack()"
    ></app-action-button>

    <app-action-button
      text="Download Excel"
      iconClass="fas fa-download"
      backgroundColorVar="var(--primary-blue)"
      [fontSizePx]="16"
      [paddingScaleFactor]="0.6"
      [disabled]="paginatedData.length === 0 || isLoading"
      (buttonClick)="onDownloadExcel()"
    ></app-action-button>
  </div>
</div>
