@import '../beban-sks/beban-sks.component.scss';

.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--text-lg);
  font-weight: 600;
  color: var(--secondary-blue);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

::ng-deep td.dosen-col {
  background-color: var(--mint-green) !important;
  font-weight: var(--font-extrabold) !important;
}

::ng-deep td.koordinator-col {
  background-color: var(--pastel-blue) !important;
  font-weight: var(--font-extrabold) !important;
}

.action-buttons-container {
  display: flex;
  gap: 1rem;
}