@import '../beban-sks/beban-sks.component.scss';

::ng-deep td.dosen-col {
  background-color: var(--mint-green) !important;
  font-weight: var(--font-extrabold) !important;
}

::ng-deep td.koordinator-col {
  background-color: var(--pastel-blue) !important;
  font-weight: var(--font-extrabold) !important;
}

.action-buttons-container {
  display: flex;
  gap: 1rem;
}